body {
  background-image: linear-gradient(#0084ff, #43a4ff 70%);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 90vw;
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(#fff 70%, #ddd);
  border-radius: 5px;
  margin: 1em auto;
  box-shadow: 1px 3px 5px #555;
}

.container h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
  padding: 1em;
}

.timer-form {
  width: 90%;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #555;
  margin: 20px auto;
  padding: 1em;
  position: relative; /*to position btn*/
}

.input-label {
  padding: 5px;
  font-size: 1.4em;
}

.input-label input {
  border-radius: 5px;
  border: 1.5px solid #90b9f7;
  color: #124696;
}

.input-label input {
  font-size: 1.5em;
  padding: 6px;
  margin: 0 5px;
}

.input-label input[type="number"] {
  width: 70px;
}
.input-label input[type="text"] {
  width: 250px;
}

.timer-name,
.timer-time {
  padding: 1em;
  text-align: center;
}

.btn {
  /* height: 75px;
  width: 75px; */
  border-radius: 50%; /*to make circle (works only if height, width are equal)*/
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 7px #333;
  font-size: 1.2em;
}

.add-btn {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: #41f16d;
}

.timers {
  width: 90%;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #555;
  margin: 0 auto;
  padding: 1em;
}

.timer {
  background: #eee;
  /* border: 2px solid #90b9f7; */
  border-radius: 5px;
  box-shadow: 1px 2px 5px #7e7e7e;
  margin: 10px auto;
  width: 90%;
  height: 100px;
  position: relative;
}

.timer-bar {
  width: 100%;
  height: 100%;
  background: #90b9f7;
  transform-origin: left; /* move origin of element to left edge, so bar grows left to right. (Default is center, so bar grows on both sides)*/
  animation-name: countdown;
  /* animation-duration: 10s; */
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes countdown {
  from {
    transform: scaleX(100%);
  }

  to {
    transform: scaleX(0);
  }
}

.play-animation {
  animation-play-state: running;
}

.pause-animation {
  animation-play-state: paused;
}

.timer-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
}

.timer-title {
  font-size: 2em;
  color: #000438;
  /* text-align: center;
  flex-basis: 210px; */
}

.time-text {
  font-size: 4em;
  color: #000438;
  text-shadow: 1px 1px 1px #333;
  /* text-align: center;
  flex-basis: 230px; */
}

.start-btn,
.remove-btn {
  background: #babffc;
  height: 50px;
  width: 50px;
}

/*Responsive Design - Medium Screens*/
@media screen and (max-width: 720px) {
  .container {
    font-size: 0.7em;
  }
  .input-label input[type="number"] {
    width: 45px;
  }
  .input-label input[type="text"] {
    width: 150px;
  }
  .add-btn {
    height: 50px;
    width: 50px;
  }
}

/*Responsive Design - Small Screens*/
@media screen and (max-width: 520px) {
  .container {
    font-size: 0.6em;
  }
  .add-btn {
    height: 36px;
    width: 36px;
  }
  .input-label input[type="text"] {
    width: 120px;
  }
  .timer-time {
    display: flex;
    flex-direction: column;
  }

  .timer-title {
    flex-basis: 100%;
    text-align: center;
    padding: 5px;
  }
  .time-text {
    flex-basis: 100%;
    text-align: center;
  }
  .timer {
    height: 150px;
  }
}
